
body, nav, ul, li, a  {
    margin: 0; padding: 0;
}
body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
a {text-decoration: none;	
}
.text-success.prod_nom h5 strong {
    font-size: 1.5em;
    text-transform: uppercase;
}

.prod_proce{
    margin-top: 3px;
}
.prod_dime{
    margin-bottom: 5px;
}
.prod_proce, .prod_marca, .prod_modelo, .prod_proce, .prod_capaci, .prod_divi, 
.prod_dispo, .prod_compo, .prod_dime, .prod_funci, .prod_bolsillo, .prod_part_post, .prod_tirantes, .prod_llave,
.prod_esquinas, .prod_medida, .prod_cuerpo, .prod_esquinas {

    color:red;
    display: inline-block;
}
.caption{
    line-height: 24px;
}

        
.blanco {
            color: white;
            text-align: left;
}

.footer {
    background: rgba(33,76,24,0.8);
    border-top: 2px solid #0f5b12;
    padding-top: 48px;
    color: #FFF;
    background: url(../img/fondo.jpg);
}
.container-fluid.colorBlue {
    background: rgba(33,76,24,0.8);
    padding: 20px 0px;
    background: url(../img/fondo.jpg);
}
.txtright{
    text-align: center;
}
.creditos {
    padding: 22px;
    border-top: 1px solid #730866;
    font-size: 12px;
}
.bot20 {
    margin-bottom: 20px;
}
section#methodPay {
    width: 100%;
    padding: 100px 15%;
    color: white;
    background: url(../img/amazonico-mundo.png);
}
section#methodPay h3 {
    color: white;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 2.8rem;
}
div#contacto {
    margin-top: 50px;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
background-image: linear-gradient(#04519b, #044687 60%, #033769);
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
-webkit-filter: none;
filter: none;
border-bottom: 1px solid #022241;
}
.toggleMenu:hover {
 background: #022f5a;
     color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:rgba(33,76,24,0.8);
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
     /*! width: 9em; */
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
  /*   border-top: 1px solid #1d9ce5; */
     
}
.nav > li > .parent {
    background-image: url("../img/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
     
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a { 
 
    display: block;
background: #5065de;
position: relative;
z-index: 100;
border-top: 1px solid #e5e5e5;
width: 180px;
 
}
.nav li li li a {
    background:#261a42;
    z-index:200; 
    border-top: 1px solid #e5e5e5;  
}

.container-fluid {
   
    padding-left: 7%;
    padding-right: 7%;
}
.divCalling{
    color: #295321;
}

#divSlider,#divNavegation {
    background: rgba(33,76,24,0.8);
    width: 100%;
}
/*FORMULARIOS*/
input[type="text"], input[type="password"], textarea{
  display: block;
  width: 100%;  
  padding:12px 14px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.dats{padding:0 0 0 15px}
.dats li{list-style:none;padding-left:55px;min-height:50px;display:block;margin-bottom:20px}
.c-dir{background:url(../img/c-dir.png) no-repeat left center;}
.c-tel{background:url(../img/c-tel.png) no-repeat left center;}
.c-mail{background:url(../img/c-mail.png) no-repeat left center;}
/*PAGINACIÓN*/
.tit-int {
    font-size: 24px;
    color: #154051;
    display: block;
    margin: 15px 15px 5px;
    line-height: 1.2;
}
 
.col-xs-12.col-sm-12.col-md-4.tituloFooter h3 {
    padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("../img/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

/* estilo de whatsApp flotante */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
/* /estilo de whatsApp flotante */
.arriba_ {
    margin-left: 50%;
}

li.redes_ {
    display: inline-block;
}
.socials {
    display: inline-block;
    vertical-align: middle;
}
.socials li {
    list-style: none;
    list-style-position: outside;
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
}
.socials a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #7c868d;
}

.socials a {
    display: block;
    transition: opacity .3s;
}
.ico-facebook {
    background-image: url(../img/sprite.png);
    background-position: 0% 100%;
    background-size: 2154.5454545454545% 791.3043478260869%;
    width: 11px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.ico-twitter {
    background-image: url(../img/sprite.png);
    background-position: 32.870370370370374% 61.44578313253012%;
    background-size: 1128.5714285714287% 1137.5%;
    width: 21px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.ico-instagram {
    background-image: url(../img/sprite.png);
    background-position: 10.185185185185185% 63.35403726708074%;
    background-size: 1128.5714285714287% 866.6666666666666%;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.ico-youtube {
    background-image: url(../img/sprite.png);
    background-position: 0% 83.125%;
    background-size: 1185% 827.2727272727274%;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.ico-pinterest {
    background-image: url(../img/sprite.png);
    background-position: 0% 65.80645161290323%;
    background-size: 1316.6666666666665% 674.074074074074%;
    width: 18px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}


.languaje {
    display: inline-block;
 /*   margin-left: 20%;*/
}
.abajo_ {
    display: inline-block;
    float: right;
}

.stl-titulo{

    display: inline-block;font-size: 16px; font-weight: 100; margin: 0px !important;
    }

/*custom */
/* Estilos Rack */
/* Inicio */
/* Productos */
img.img-fluid:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.logo-contacto {
    font-size: 1.9rem;
    line-height: 26px;
    padding-top: 10px;
    text-align: right;
}
h3, .h3 {
    font-size: 21px;
 
}
h3 p{
    text-align: center;
}
.card p {
    color:#454546;
    text-align: center;
}
h3 span {
    font-size: 1.8rem;
    color: #000;
}
.titulo_producto {
    font-size: 1.7rem;
    color: #3F51B5;
    text-transform: uppercase;
    text-align: center;
    height: 50px;
}
.ribbon {
    position: absolute;
    right: 9px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: center;
}
.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #F62459;
    background: linear-gradient(#ff89b1 0%, #ff006e 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.ribbon span::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #F62459;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F62459;
}
.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #F62459;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F62459;
}
#inventory .card:hover {
    transition: all 0.3s ease;
   /* box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    */
    -webkit-box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
    box-shadow: 0px 0px 5px 1px rgba(117,117,117,1);
}
#inventory .view-btn {
    background-color: #e6de08;
   /* margin: -25px 0 0 0;
    */
    border-radius: 0 0 0 0;
    font-size: 14px;
    border: #e6de08;
    color: #000;
    margin: 0 auto;
    display: block;
}
#inventory .btn:hover {
    background-color: #ff4444;
    color: #fff;
    border: 2px solid #ff4444;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
h3.titulo_producto:hover {
    color: #484848;
    text-decoration: none;
    text-decoration-line: underline;
}
/* Productos */
.container.seccionFondo{
    height: auto;
    min-height: 400px;
    background-position: top, 50% center;
    background-repeat: repeat, repeat;
    background-attachment: fixed, fixed;
 
    background: url(../img/fdo-pixel-celeste.jpg)
}
.divProductos h3 {
    text-align: center;
}
.divProductos p {
    text-align: center;
}
/* Redes Sociales Izquierda */
.socializquierda {
    position: fixed; /* Hacemos que la posici&oacute;n en pantalla sea fija para que siempre se muestre en pantalla*/
    left: -40px; /* Establecemos la barra en la izquierda */
    top: 60%; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 8; /* Utilizamos la propiedad z-index para que no se superponga alg&uacute;n otro elemento como sliders, galer&iacute;as, etc */
    /*width: 100%;
    margin-left: 47%;*/
}
.socializquierda ul {
    list-style: none;
}
 
.socializquierda ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    /*padding: 6px 11px;*/
    text-decoration: none;

    -webkit-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease; /* Establecemos una transici&oacute;n a todas las propiedades */
    
    float: left;
    font-size: 23px;

}
.socializquierda ul li .icon-whatsapp {
    background: #209e13;
  
}

.socializquierda ul li .icon-twitter {
    background:#b3026a;
}
 
.socializquierda ul li .icon-whatsapp:hover {
    background: #209e13;
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
 
.socializquierda ul li .icon-twitter:hover {
    background: #b3026a; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
 
 
/* Redes Sociales Izquierda */

.container.seccionFondo.opacity {
    padding-left: 5px;
}
.divWhatsapp {
  /*   color: #5ba00b; */
    font-size: 2.5rem;
}

/* inicio de estilos de redes */
.social {
    position: fixed; /* Hacemos que la posici&oacute;n en pantalla sea fija para que siempre se muestre en pantalla*/
    right: 0; /* Establecemos la barra en la izquierda */
    top: 60%; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 8; /* Utilizamos la propiedad z-index para que no se superponga alg&uacute;n otro elemento como sliders, galer&iacute;as, etc */
    /*width: 100%;
    margin-left: 47%;*/
}
 
@media (min-width: 768px) {
/*    .social{
        top: 270px;
    } */
    .social { top: 330px; }    
}

@media (min-width: 992px) {
    .social{
    
    }
}
@media (min-width: 1200px) {
   .social{
      
    }
 }

.social ul {
    list-style: none;
}
 
.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    /*padding: 6px 11px;*/
    text-decoration: none;

    -webkit-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease; /* Establecemos una transici&oacute;n a todas las propiedades */
    
    float: right;
    font-size: 23px;

}

@media (min-width: 768px) {
   .social ul li a{
    
    /*padding: 10px 15px;*/
    }
}

@media (min-width: 992px) {
    .social ul li a{
    
    }
}
@media (min-width: 1200px) {
   .social ul li a{
      
    }
 }
 .social ul li .icon-whatsapp {
    background: #209e13;
    margin-left: 100%;
}

.social ul li .icon-facebook {
    background:#2A4683;
    /*margin-left: 100%;*/
} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-google {
    background:#CF2E22;
}
.social ul li .icon-twitter {
    background:#b3026a;
}
.social ul li .icon-linkedin {
    background:#0075b8;
}

.social ul li .icon-youtube {
    background:#D41D1D;
}
.social ul li .icon-tiktok {
    background:#000000;
    
}
.social ul li .icon-tiktok:hover {
    background:#000000;
    padding: 0px 20px;
}
.social ul li .icon-whatsapp:hover {
    background: #209e13;
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.social ul li .icon-facebook:hover {
    background: #2A4683; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.social ul li .icon-google:hover {
    background: #CF2E22; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.social ul li .icon-twitter:hover {
    background: #b3026a; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.social ul li .icon-youtube:hover {
    background: #D41D1D; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
.social ul li .icon-linkedin:hover{
     background: #0075b8; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 0px 20px;
}

/* fin de estilos de redes */
.carousel-caption h3 {
    font-size: 1px;
}
/* .telefono {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background: #a8c528;
    padding: 2px 10px;
    border-radius: 5px;
} */
.telefono:hover {
    background: #26c753;
    border: 1px solid #1d923e;
}
.btn {
    font-size: 1.8rem;
}
.container-fluid.colorBlue {
    background: rgba(33,76,24,0.8);
    padding: 20px 0px;
}
.text-white {
    color: #fbfbfb;
}


/* Inicio */

/* Cotizacion */
img.imagenProducto {
    display: block;
    margin: 0 auto;
}
h3.divNombreProducto {
    color: #39489e;
    font-weight: bold;
}
/* Cotizacion */


/* Productos rack */


.divisor{
    height: 80px;
}
.divProducto p {
    text-align: center;
}
.seccionFondo h2, .seccionFondo h3, .seccionFondo p {
    color: white;
   
}
.seccionFondo h2 {
    padding-top: 5%;
}
/* Productos rack */

/* Contacto */
 
   .error input, input.error, .error textarea, textarea.error {
  border: 1px solid red !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
 

/* Contacto */
/* Estilos Rack */
@font-face {
    font-family: Britannic Bold;
    src: url(fonts/BRITANIC.TTF);
}
 
.fondo_inicio{
	background: url(../img/quienes_somos_inicio.jpg);
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	
	}
 
    
.logo-contacto .atcliente{
    text-align: right;
    display: inline-block;
    vertical-align: top;
    color: #4c4c4c;
    font-size: 17px;
    line-height: 100px;
   padding: 0 7px 0 7px;
}

.logo-contacto .logo-tel{
 
       display: inline-block;
    vertical-align: top;
    color: #4c4c4c;
    padding: 0 2px 0 2px;
    margin-top: 50px;
    width: 80px;
    height: auto;
    margin-left: 70%;

	  
}
.logo-contacto .numero-tel{
    display: inline-block;
    vertical-align: top;
    color: #1082c0;
    
    padding: 0 0px 0 10px;
    line-height: 100px;
     font-size: 20pt;
	
}
.logo-header-hidden{
	display: none;
}


/*breadcrumbs  */

.breadcrumbs {
    color: #aaaaaa;
}

/* espacio */
.espacio{
	    margin-bottom:40px;
		}

/* productos */

.prod_tit{
    background: red;
    text-transform: uppercase;
}
.prod_tit p{
 text-align: justify; 
font-size: 15px;
}
.prod_des{
text-align:justify;
font-size: 13px;
line-height: 16px;


}
.caption{
    min-height: 329px;
}
.tprod_lm, .dprod_lm{ display:inline-block; vertical-align:top;}


@media screen and (max-width: 1024px){
.slider-hidden{
	display: none;
}
.logo-contacto .atcliente {
   
 	 text-align: center;
}

.font-logo
 {
    font-family: 'Britannic Bold';
    font-size:15pt;
 
}

.logo-header span{

	font-size: 11pt;
	font-weight: 200;
    letter-spacing: .5px;
}

}
@media screen and (max-width: 720px){
 .fondo_inicio{
	   background-image: url("instrumento-medico.gif");
	
	}
}
@media screen and (max-width: 480px){

    .container-fluid.colorBlue {
        background: #3f51b5;
        padding: 35px;
    }    
    .carousel-caption h3 {
        font-size: 1px;
    }
    .card {
        margin-bottom: 20px;
    }
    .container.seccionFondo.opacity {
        padding-left: 25px;
    }
    .divPaddin{
        margin-left: 0px !important ;
        margin-right: inherit !important;
    }
 	
    .logo-header .imagen {
        width: 53% !important;
        margin-right: 2%;
        margin-left: 21%;
    }
    
    .imagen-motormass{
        width: 80% !important;;
    }
.logo-contacto .atcliente {
    
 	display: none;
}
 .logo-contacto{
 	text-align: center;
 }
    .logo-contacto .logo-tel{
        display: none;
    }
}
/***************************************************************************************************/
/* ******************************  Agro Energy Foods  **********************************************/
/***************************************************************************************************/

.ae_contact ul {
    list-style: none;
    margin-top: 7%;
}
i.fa.fa-envelope {
    font-size: 2rem;
    margin-left: 2%;
    margin-top: 1%;
    color: #73C525;
}
.ae_contact ul li a {
    color: #295321;
}
.socials {
    margin-left: 35%;
    margin-top: 10%;
}
.traductor {
    margin-left: 30%;
    margin-top: 13px;
}
.fondoBackground{
    background: url(../img/fondo.jpg);
}
ul.redesSocialesBienvenida {
    margin-left: 38%;
    list-style: none;
}ul.redesSocialesBienvenida li a {
    color: white;
}
i.fa.fa-envelope.mailBienvenida {

    margin-left: 1%;

}
.paddinbBienvenida {
    padding-bottom: 70px;
    padding-top: 70px;
}
.telefono {
    display: inline-block;
    font-size: 1.7rem;
    width: 76%;
    height: auto;
    font-weight: bold;
    color: #000 !important;
    padding: 2px 10px;
    border-radius: 5px;
    background-image: linear-gradient(bottom, #40e825, rgb(90, 258, 63));
    background-image: -o-linear-gradient(bottom, #40e825, rgb(90, 258, 63));
    background-image: -moz-linear-gradient(bottom, #40e825, rgb(90, 258, 63));
    background-image: -webkit-linear-gradient(bottom, #40e825, rgb(90, 258, 63));
    background-image: -ms-linear-gradient(bottom, #40e825, rgb(90, 258, 63));
    background-image: -webkit-gradient( linear, right bottom, right top, color-stop(0, #40e825), color-stop(0.66, rgb(90, 258, 63)) );
}
.telefono2 {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
 
}
.telefono:hover {
text-decoration: none;
}
.telefonoFooter {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
}
.telefonoFooter:hover {
    text-decoration: none;
    }
.textoRack{
    font-size: 1px;
    color:transparent;
    color:none;
}
li.contacto {
    margin-bottom: 2%;
}
li.consultaXWsp {
    margin-bottom: 2%;
}

.celular {
    display: inline-block;
    font-size: 1.7rem;
    width: 76%;
    height: auto;
    font-weight: bold;
    color: #fff !important;
    padding: 2px 10px;
    border-radius: 5px;
    background: linear-gradient(180deg, #FC6506 0%, rgba(210, 83, 3, 0.894595) 49.25%, rgba(250, 100, 6, 0.86) 100%);
    border-radius: 12px;
}
p.text-white.text-center.contenidoBienvenida {
    padding: 0px 15%;
    text-align: justify;
}
.row.contenidoDos {
    margin-top: 3%;
}
.productoOrganico {
    margin-bottom: 8%;
}

.txt-white{
    color: white !important;
}

.copyright {
    background: black;
    height: 50px;
    color: #8b8b8b;
}
.empresa {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial;
    line-height: 25px;
}

/***************************************************************************************************/
/* ******************************  /Agro Energy Foods  **********************************************/
/***************************************************************************************************/